{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import"
    ],
    [
      "@babel/plugin-proposal-optional-chaining"
    ],
    [
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ],
  ]
}
