confession_v1.db
confession_v1.sql
confession_v2.db
confession_v2.db-shm
confession_v2.db-wal
yarn.lock
*.log
.idea/
node_modules
.env.yaml
.env
ecosystem.config.js
server/_fullstack-tutorial-master
package-lock.json
client/_examples

.next/
*-debug.log
fabfile.py
fabfile.pyc
dataDir
.db
myAudio.db
.db-journal
myAudio.db-journal
myAudio.db-shm
myAudio.db-wal
