.layout {
  min-height: 100vh;
}

.header {
  padding: 0;
  background-color: #fff;
}

.main-content {
  margin: 25px 15px 0;
  padding: 20px;
  background-color: #fff;
}

.footer {
  text-align: center;
}
